<div class="mx-auto max-w-[1012px]">
  <form [formGroup]="form" class="m-[40px] p-[40px] text-[14px] leading-[21px]">
    <div class="flex flex-row justify-center">
      <input
        formControlName="query"
        placeholder="Search Github"
        class="flex-1 rounded-md border border-solid border-[#30363d] bg-[#0d1117] px-3 py-[5px] font-[400] outline-none outline-[#58a6ff]"
      />

      <button
        type="submit"
        (click)="onSubmit()"
        class="ml-2 rounded-md border border-solid border-[#f0f6fc1a] bg-[#21262d] px-4 py-[5px] font-[500]"
      >
        Search
      </button>
    </div>
  </form>

  <div *ngIf="loading">Carregando...</div>

  <div *ngIf="error">
    {{ error }}
  </div>

  <div *ngIf="results">
    <div *ngFor="let result of results">
      <h5>{{ result.name }}</h5>
      <h6>Owner: {{ result.owner.login }}</h6>
    </div>
  </div>
</div>
